.bg-black {
  background-color: #000;
  color: #fff;
}

img.grayscale {
  filter: grayscale(100%);
}

h1, h2 {
  margin-bottom: 40px;
}

h2 {
  padding-top: 80px;
}

h4 {
  margin-top: 20px;
}

hr {
  margin: 60px auto;
}

label {
  font-weight: bold;
}

.bg-black hr {
  color: #fff;
  background-color: #fff;
}

.container-fluid {
  padding: 0;
}

.btn {
  border-radius: 0;
}

.btn .btn-lg {
  margin-top: 60px;
}

.btn-link {
  color: #000;
  text-decoration: none;
}

.btn-link:hover {
  color: #000;
  text-decoration: underline;
}

a {
  color: #000;
}
a:hover {
  color: #000;
  text-decoration: underline;
}

nav {
  font-size: 0.9rem;
}
nav .btn {
  font-size: 0.9rem;
}

.navbar .collapse.show, .navbar .collapsing {
  padding-top: 40px;
}

.navbar-brand {
  position: relative;
  width: 55px
}

.navbar-brand img {
  position: absolute;
  top: -18px;
  left: -4px;
}

.main {
  text-align: center;
}

section {
  padding-top: 80px;
  padding-bottom: 40px;
  min-height: 100vh;
  position: relative;
}

.mixer {
  background-image: url(../images/mixer.jpeg);
  background-position: 50% 0px;
  position: relative;
}

.mixer .logo-container {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 230px;
  width: 480px;
}

section .btn {
  padding: 15px 40px;
  margin: 0 auto;
}
section .social .btn {
  padding: 0;
  height: 50px;
  width: 50px;
}

.mixer .btn {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
  width: 200px;
}

.icon.large {
  font-size: 48px;
}
.icon.med {
  font-size: 30px;
}

#about .card {
  transition: margin 0.3s ease-out, box-shadow 0.3s ease-out;
  -webkit-transition: margin 0.3s ease-out, box-shadow 0.3s ease-out;
  -moz-transition: margin 0.3s ease-out, box-shadow 0.3s ease-out;
  -o-transition: margin 0.3s ease-out, box-shadow 0.3s ease-out;
}

@media (max-width: 990px) {
  #about .card {
    margin-bottom: 15px;
  }
}

#about .card .card-body p {
  text-align: justify;
}

#about .card .card-body p.rate {
  text-align: center;
}

#about .card:hover {
  margin-top: -15px;
  box-shadow: 0px 15px 38px -10px rgba(0, 0, 0, .5);
}

#clients .card {
  margin-bottom: 30px;
}

#clients .card .card-body {
  border-top: 1px solid rgba(0,0,0,.125)
}

#clients .card-text {
  font-size: 25px;
}

.card-body ul {
  list-style: none;
  padding: 0;
}

.copyright {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #6b6b6b;
}

.trademark {
  position: absolute;
  top: 36px;
  left: 448px;
  font-size: 14;
}

.testimonials cite::before {
  content: "\2014 \00A0";
}

.artist-image {
  border: 1px solid #aaa;
}

.rate {
  font-size: 3rem;
}
.rate .unit {
  font-size: 1rem;
  color: #9e9e9e;
}

.footnote {
  font-size: .8em;
  color: #9e9e9e;
  text-align: left;
  margin: 1rem 0;
}
